/* Стили portfolio.html */

.container.main-container {
  margin-bottom: 94px;
}

.page-header.portfolio-page {
  margin-bottom: 94px;
}

.title-portfolio {
  margin: 0;
}

/* Button style */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background: #f5f4fa;
  box-shadow: none;
  transition: color 250ms $timing-function, background 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    color: $background-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-wrap: wrap;

  &.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }

  &.direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
  }
}

.flex-element {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.product {
  overflow: hidden;

  &:hover .project.description {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover .portfolio-direction {
    transform: translateY(0);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb.portfolio-item {
  overflow: hidden;
}

.project.description {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function;
  opacity: 1;
}

.portfolio-direction {
  display: block;
  padding: 20px 24px;
}
