/* site-contacts list */
.site-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  .link {
    // display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    // align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms $timing-function;
  }
}

/* способы зачистки крайней геометрии */
.site-contacts .item + .item {
  margin-left: 30px;
}

.icon-envelope,
.icon-phone {
  fill: #757575;
  transition: fill 250ms $timing-function;
}

.link.mail:hover,
.link.mail:focus {
  color: $accent-color;
  fill: $accent-color;
}

.link.mail:hover .icon-envelope,
.link.mail:focus .icon-envelope {
  fill: $accent-color;
}

.link.phone:hover,
.link.phone:focus {
  color: $accent-color;
}

.link.phone:hover .icon-phone,
.link.phone:focus .icon-phone {
  fill: $accent-color;
}

svg.icon-envelope,
svg.icon-phone {
  margin-right: 10px;
}
