$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #ffffff;
$background-color-footer: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.list,
.filter,
.project {
  padding: 0;
  margin: 0;
  list-style: none;
}
